* {
  margin: 0;
  padding: 0;
}

.wrapper-homePage {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.wrapper-homePage nav {
  grid-column: 1/3;
}

.wrapper-homePage h2 {
  grid-column: 1;
}

.wrapper-homePage h1 {
  grid-column: 1/3;
}

.timeAndSpace {
  grid-column: 1/3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timeAndSpace div {
  grid-column: 1;
}

.timeAndSpace div > p {
  max-width: 500px;
  text-align: justify;
}

.timeAndSpace img {
  width: 750px;
  grid-column: 2;
}

h1 {
  margin: 32px;
  text-align: center;
}

p {
  margin: 0;
}

.logo {
  width: 70px;
}
