* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: rgb(41, 40, 40);
}
// Default Settings
h1 {
  text-align: center;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
}

h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #de4238;
  z-index: auto;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.font-weight-bold {
  color: #ef6059 !important;
  font-weight: 900 !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #ef6059 !important;
}

.nav-link:hover {
  color: #de4238 !important;
}

p {
  margin: 0;
}

.logo {
  width: 70px;
  &:hover {
    cursor: pointer;
  }
}

.navbar-toggler:focus {
  border-color: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

// Home page - CSS
.timeAndSpace p {
  font-size: 24px;
}

.name p {
  font-size: 24px;
}

.explanation-HP {
  max-width: 75%;
}

.charity {
  & p {
    font-size: 24px;
  }
}

.funded {
  background-color: #fcdede;
  color: rgb(48, 48, 48);
  margin-top: 128px;
}

.sponso > p {
  display: inline-block;
  font-size: 28px;
  color: rgb(48, 48, 48);
}

@media (max-width: 500px) {
  //Default
  .logo {
    width: 40px;
  }

  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 24px;
  }

  .timeAndSpace p {
    font-size: 18px;
  }

  .name p {
    font-size: 18px;
  }

  .charity {
    & p {
      font-size: 18px;
    }
  }

  .explanation-HP {
    max-width: 100%;
  }

  .funded {
    margin-top: 64px;
  }

  .underWater {
    & > h2 {
      font-size: 24px !important;
      padding: 8px 4px;
    }
    & > p {
      font-size: 18px !important;
    }
  }
}

@media (min-width: 992px) {
  nav a {
    font-size: 14px;
  }

  .offerImg {
    display: block;
    max-width: 750px;
  }
}

@media (min-width: 1170px) {
  nav a {
    font-size: 18px;
  }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

// Groups We Offer - CSS
.wrapperOffer {
  & div > p {
    margin: auto;
    width: 80%;
  }
}

// Useful Links - CSS

// Our team - CSS
#ourteam {
  & > h1 {
    padding-bottom: 1em;
  }
  div:first-child {
    //this selects the images
    @media screen and (max-width: 992px) {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 20px;
    }
  }
  .rightside {
    //this selects the headings
    & > h2 {
      @media screen and (max-width: 992px) {
        text-align: center;
      }
    }
    //this selects only the paragraphs
    & > p {
      @media screen and (min-width: 992px) {
        padding: 0px;
        max-width: 30vw;
      }
      @media screen and (max-width: 992px) {
        text-align: center;
        padding: 5px;
      }
    }
  }
}
.leftside {
  //this selects the heading
  & > h2 {
    @media screen and (max-width: 992px) {
      text-align: center;
    }
  }
  //this selects only the text
  & > p {
    @media screen and (max-width: 992px) {
      text-align: center;
      padding: 5px;
    }
    @media screen and (min-width: 992px) {
      max-width: 30vw;
      margin-left: calc(50vw - 30vw);
      padding: 0px;
    }
  }
}

.redcircle {
  max-width: 20em;
}

// Contact us - CSS
#contact {
  #map {
    display: flex;
    align-items: center;
  }

  & > p {
    color: #de4238;
  }

  iframe {
    width: 65vw;
    height: 20vh;
    text-align: center;
  }
}
#contact_info {
  & > div {
    @media screen and (max-width: 992px) {
      text-align: center;
    }
  }
  .fas {
    color: #de4238;
  }
  .far {
    color: #de4238;
  }
}
// Donation - CSS
#donation {
  button {
    width: 50vw;
    background-color: #de4238;
    border: 0px;
    border-radius: 5px;
  }
}
#signature {
  text-align: right;
}
#intro {
  width: 80vw;
  margin: auto;
}
#story {
  background-color: #fff4f3;
  width: 80vw;
  margin: auto;
  border: 1px solid #de4238;
  border-radius: 5px;
}

// About Voice Hearing - CSS
.underWater {
  & > h2 {
    color: white;
    background-color: #76a0f4;
    max-width: 80%;
    margin: auto;
    position: relative;
    z-index: 9999;
    bottom: -15px;
    font-size: 32px;
    padding: 8px 4px;
  }
  & > p {
    background-color: white;
    position: relative;
    z-index: 0;
  }
}

.underWaterTitle {
  background-color: #e3f0ff;
}

.IOP {
  position: relative;
  z-index: 9;
  overflow: hidden;
  background-color: #e3f0ff;
  max-height: 55vh !important;
}

// Wave Animation
.wave {
  z-index: 10;
  position: relative;
}

.wave2 {
  z-index: 11;
  position: relative;
  bottom: 200px;
  -webkit-animation-name: slideInLeftWave1;
  animation-name: slideInLeftWave1;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.wave3 {
  z-index: 12;
  position: relative;
  bottom: 300px;
  -webkit-animation-name: slideInLeftWave2;
  animation-name: slideInLeftWave2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.wave4 {
  z-index: 13;
  position: relative;
  bottom: 450px;
  -webkit-animation-name: slideInLeftWave3;
  animation-name: slideInLeftWave3;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

// Wave animation
@keyframes slideInLeftWave3 {
  0% {
    // -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-15%, 0, 0);
    visibility: visible;
  }

  50% {
    // -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    // -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-15%, 0, 0);
  }
}

@keyframes slideInLeftWave2 {
  0% {
    // -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-10%, 0, 0);
    visibility: visible;
  }

  50% {
    // -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    // -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-10%, 0, 0);
  }
}

@keyframes slideInLeftWave1 {
  0% {
    // -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-15%, 0, 0);
    visibility: visible;
  }

  50% {
    // -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  100% {
    // -webkit-transform: translate3d(-1%, 0, 0);
    transform: translate3d(-15%, 0, 0);
  }
}

// About Self Harm - CSS
.selfHarmBg {
  position: absolute;
  top: 0%;
  z-index: -4;
}

.fact {
  margin-top: 20%;
}

#selfharm {
  #content {
    padding: 0px;
    background-color: #ffffff;
    h2 {
      background-color: #ef6059;
      color: #ffffff;
    }
    p {
      margin: 5px;
    }
  }
}

// Useful Link css
// Useful Link css
.usefulLink {
  & a {
    text-decoration: none;
    & > div {
      max-width: 750px;
      min-height: 250px;
      margin: auto;
      background-color: #fcdede;
      &:hover {
        background-color: #ef6059;
        & > p {
          color: white;
        }
      }
    }

    & div > img {
      max-width: 250px;
    }
  }
}

.fa-twitter {
  color: #16a2f3;
}
