* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #292828;
}

h1 {
  text-align: center;
  font-size: 48px;
  font-family: "Open Sans", sans-serif;
}

h2,
h3,
h4 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #de4238;
  z-index: auto;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.font-weight-bold {
  color: #ef6059 !important;
  font-weight: 900 !important;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #ef6059 !important;
}

.nav-link:hover {
  color: #de4238 !important;
}

p {
  margin: 0;
}

.logo {
  width: 70px;
}

.logo:hover {
  cursor: pointer;
}

.navbar-toggler:focus {
  border-color: none;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.timeAndSpace p {
  font-size: 24px;
}

.name p {
  font-size: 24px;
}

.explanation-HP {
  max-width: 75%;
}

.charity p {
  font-size: 24px;
}

.funded {
  background-color: #fcdede;
  color: #303030;
  margin-top: 128px;
}

.sponso > p {
  font-size: 28px;
  color: #303030;
}

@media (max-width: 500px) {
  .logo {
    width: 40px;
  }
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 24px;
  }
  .timeAndSpace p {
    font-size: 18px;
  }
  .name p {
    font-size: 18px;
  }
  .charity p {
    font-size: 18px;
  }
  .explanation-HP {
    max-width: 100%;
  }
  .funded {
    margin-top: 64px;
  }
}

@media (min-width: 992px) {
  nav a {
    font-size: 14px;
  }
  .offerImg {
    display: block;
    max-width: 750px;
  }
  div > p,
  div p > span {
    font-size: 20px;
  }
}

@media (min-width: 1170px) {
  nav a {
    font-size: 18px;
  }
  div > p,
  div p > span {
    max-width: 900px;
    margin-bottom: 72px;
    margin: auto;
    font-size: 20px;
  }
}

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
  outline: 0 !important;
  outline-offset: 0 !important;
  background-image: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.wrapperOffer div > p {
  margin: auto;
  width: 80%;
}

.underWater > h2 {
  color: white;
  background-color: #76a0f4;
  max-width: 80%;
  margin: auto;
  position: relative;
  z-index: 9999;
  bottom: -15px;
  font-size: 32px;
  padding: 8px 4px;
}

.underWater > p {
  background-color: white;
  position: relative;
  z-index: 0;
}

.underWaterTitle {
  background-color: #e3f0ff;
}

.IOP {
  position: relative;
  z-index: 9;
  overflow: hidden;
  background-color: #e3f0ff;
  max-height: 65vh !important;
}

.KEKW {
  z-index: 10;
  position: relative;
}

.KEKW2 {
  z-index: 11;
  position: relative;
  bottom: 200px;
  -webkit-animation-name: slideInLeftWave1;
  animation-name: slideInLeftWave1;
  -webkit-animation-duration: 7s;
          animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.KEKW3 {
  z-index: 12;
  position: relative;
  bottom: 300px;
  -webkit-animation-name: slideInLeftWave2;
  animation-name: slideInLeftWave2;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.KEKW4 {
  z-index: 13;
  position: relative;
  bottom: 450px;
  -webkit-animation-name: slideInLeftWave3;
  animation-name: slideInLeftWave3;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes slideInLeftWave3 {
  0% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
    visibility: visible;
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
  }
}

@keyframes slideInLeftWave3 {
  0% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
    visibility: visible;
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
  }
}

@-webkit-keyframes slideInLeftWave2 {
  0% {
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
    visibility: visible;
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
}

@keyframes slideInLeftWave2 {
  0% {
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
    visibility: visible;
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-10%, 0, 0);
            transform: translate3d(-10%, 0, 0);
  }
}

@-webkit-keyframes slideInLeftWave1 {
  0% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
    visibility: visible;
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
  }
}

@keyframes slideInLeftWave1 {
  0% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
    visibility: visible;
  }
  50% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-15%, 0, 0);
            transform: translate3d(-15%, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */